.gallery {
    list-style-type: none; /* Вимикаємо стандартні маркери списку */
    margin: 0;
    padding: 32px 0;
    display: flex;
    flex-wrap: wrap; /* Дозволяємо елементам переноситись на новий рядок */
    gap: 16px; /* Відстань між картками */
    justify-content: center; /* Центрування елементів по горизонталі */
    align-items: center;
  }
  
  /* Стилі для кожного елемента списку */
  .gallery li {
    width: calc((100% - 32px) / 3); /* Максимальна ширина картки */
 
}
  
 /* Стилі для зображень */
.gallery li img {
    width: 100%; /* Зображення займає всю ширину картки */
    height: 300px; /* Встановлюємо однакову висоту для всіх зображень */
    object-fit: cover; /* Відповідає за масштабування зображення з збереженням пропорцій */
  }