.gallery {
  list-style-type: none;
  margin: 0;
  padding: 32px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.gallery li {
  width: calc((100% - 32px) / 3);
}

.gallery li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
