.gallery {
  list-style-type: none;
  margin: 0;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.gallery li {
  padding: 2px;
}

@media (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .gallery li {
    width: calc((100% - 16px) / 2);
    height: 220px;
    padding: 0;
  }

  .gallery li img {
    object-fit: fill;
    height: 220px;
  }
}

@media (min-width: 1025px) {
  .gallery li {
    width: calc((100% - 32px) / 3);
  }
}
